h1{
  color:red
}
h3{
    color:blue
}
body {
   background-image: url("BG.jpg");
   background-color: #cccccc;
}
p{
    color:white
}
footer{
    color:gold
}
table{
    color:Green
}
form{
    color:gold
}
